<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../static/node_modules/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.0.1/js/bootstrap-switch.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
        rel="stylesheet" type="text/css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.0.1/css/bootstrap3/bootstrap-switch.css"
        rel="stylesheet" type="text/css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
    
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="module" src="../static/animation.js"></script>
  </head>
  <style>
    .list-group-item:first-child{
        border-radius: 0;
    }
    .tab-content{
        height: 300px;
        max-height: 300px;
        overflow:auto;
    }
    .container{
        height: 100%;
    }
    #top-side{
        max-height: 50%;
        margin-bottom: 50px;
    }

    #model {
      height: 430px;
    }

  #viewer {
    width: 100%; 
     height: 100%;
  }
    .form-inline .form-control{
      width: 50%;
      align-content: center;
    }

    .hover-overlay{
      background: hsla(195, 83%, 58%, 0.3);
    }

    .card-body .list-group{
      max-height: 40vh;
      overflow: auto;
    }

    .tab-pane{
      border: 1px;
    }
  </style>
  <body>
    
    <h1>Robotic Arm Control</h1>
    <div class="container bg-light">
        <div class="row" id="top-side">
            <div class="col-md-4" id="sliders">
                <form class="form" method="POST" enctype="application/json" id="move_form">
                    <div class="form-group row">
                      <div class="col-xs-2">
                      <label for="base">Base</label>
                      </div>
                      <div class="col-xs-10">
                        <input type="range" min="0" max="180" step="1" name="base" id="base" value="{{ currentPos.base }}" class="form-control-range">
                      </div>
                      <div class="col-xs-4">
                        <input type="number" id="base_input" class="form-control input-sm" value="{{ currentPos.base }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-xs-2">
                        <label for="shoulder">Shoulder</label>
                      </div>
                      <div class="col-xs-10">
                        <input type="range" min="0" max="180" step="1" name="shoulder" id="shoulder" value="{{ currentPos.shoulder + 24}}" class="form-control-range">
                      </div>
                      <div class="col-xs-4">
                        <input type="number" id="shoulder_input" class="form-control input-sm" value="{{ currentPos.shoulder + 24}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-xs-2">
                        <label for="elbow">Elbow</label>
                      </div>
                      <div class="col-xs-10">
                        <input type="range" min="0" max="180" step="1" name="elbow" id="elbow" value="{{ currentPos.elbow + 121}}" class="form-control-range">
                      </div>
                      <div class="col-xs-4">
                        <input type="number" id="elbow_input" class="form-control input-sm" value="{{ currentPos.elbow + 121}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-xs-2">
                        <label for="wrist">Wrist</label>
                      </div>
                      <div class="col-xs-10">
                        <input type="range" min="0" max="180" step="1" name="wrist" id="wrist" value="{{ currentPos.wrist + 115}}" class="form-control-range">
                      </div>
                      <div class="col-xs-4">
                        <input type="number" id="wrist_input" class="form-control input-sm" value="{{ currentPos.wrist + 115}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-xs-2">
                        <label for="wrist_rot">Wrist rotation</label>
                      </div>
                      <div class="col-xs-10">
                        <input type="range" min="0" max="180" step="1" name="wrist_rot" id="wrist_rot" value="{{ currentPos.wrist_rot }}" class="form-control-range">
                      </div>
                      <div class="col-xs-4">
                        <input type="number" id="wrist_rot_input" class="form-control input-sm" value="{{ currentPos.wrist_rot }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-xs-2">
                        <label for="gripper">Gripper</label>
                      </div>
                      <div class="col-xs-10">
                        <input type="range" min="0" max="180" step="1" name="gripper" id="gripper" value="{{ currentPos.gripper }}" class="form-control-range">
                      </div>
                      <div class="col-xs-4">
                        <input type="number" id="gripper_input" class="form-control input-sm" value="{{ currentPos.gripper }}">
                      </div>
                    </div>
                  </form>
                  <input type="submit" value="Move" class="btn btn-primary" id="move-btn">

                  <label for="speed">Speed</label>
                  <input type="range" min="2" max="8" step="1" name="speed" id="speed" value="4" class="form-control-range">
                  <input type="number" id="speed_input" class="form-control input-sm" value="1" readonly>
            </div>

            <div class="col-md-8" id="table">
              <ul class="nav nav-tabs" role="tablist" id="tabList">
                  <!-- Tab headers will be created dynamically here -->
                </ul>
                
              <div class="tab-content border border-dark" id="tabContent">
                  <!-- Tab content will be created dynamically here -->
                </div>
              
                  
                <div class="btn-group">
                  <button class="btn btn-primary" id="addNewTabBtn">Add New Tab</button>
                  <button class="btn btn-primary" id="addPositionToActiveTabBtn">Add Position</button>
                  <button class="btn btn-danger" id="deleteActiveTabBtn">Delete Tab</button>
                  <button class="btn btn-danger disabled" id="deleteSelectedPosition">Delete Position</button>
                  <button class="btn btn-success" id="playSelectedTab">Play Task</button>
              </div>
              <div class="btn-group">
                <button id="pauseButton" class="btn btn-warning disabled">Pause</button>
                <button id="continueButton" class="btn btn-primary disabled">Resume</button>
                <button id="stopButton" class="btn btn-danger disabled">Stop</button>
    
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="automate">
                <label class="form-check-label" for="automate">Automate task</label>
              </div>
    
          </div>
    


        </div>
        <div class="row" id="bot-side">
          <div class="col-md-6" id="model">
            <div class="viewer" id="viewer"></div>
          </div>


          <div class="col-md-2" id="coords">
            <form class="form-inline">
                <p>Input desired point coordinates</p>
                <div class="form-group">
                    <label for="x">X:</label>
                    <input type="number" class="form-control" id="x" name="x" value="0"><br><br>
                </div>
                <div class="form-group">
                  <label for="y">Y:</label>
                  <input type="number" class="form-control" id="y" name="y" value="0"><br><br>
                </div>

                <div class="form-group">
                  <label for="z">Z:</label>
                  <input type="number" class="form-control" id="z" name="z" value="0"><br><br>
                </div>
            </form>
            <div class="btn-group-vertical">
              <button type="submit" class="btn btn-primary" id="submit-btn">Send Coordinates</button>
              <button type="submit" class="btn btn-primary" id="display-btn">Display Coordinates</button>

            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="movementSwitch">
              <label class="form-check-label" for="movementSwitch">Line movement</label>
            </div>
          </div>

          <div class="col-md-4" id="events">
            <span class="border-0">
              <div class="card">
                <div class="card-header">
                  Event Log
                </div>
                  <div class="card-body border border-dark">
                    <ul class="list-group list-group-flush" id="event-log"></ul>
                  </div>
              </div>
            </span>
        </div>



        </div>   
    </div>


    <div class="modal" id="nameModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enter name of the motion:</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control" id="nameInput">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="button-save-name" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container2"

      
     <div> -->

      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
    <script type="module">
      
        $(document).ready(function () {
          $('#movementSwitch').bootstrapSwitch();
          $('#automate').bootstrapSwitch();
        });

        $('#movementSwitch').on('switchChange.bootstrapSwitch', function(event, state) {
            if (state == true) {
                // The switch is on, perform other actions here
              document.getElementById("speed").disabled = true;
              document.getElementById("speed_input").value = 1;
              document.getElementById("speed").value = 4;
            } else {
                // The switch is off
                document.getElementById("speed").disabled = false;
            }
        });

        var eventLog = []
        document.cookie = ``

        import { appendToEventLog } from "../static/logger.js";
        var init = JSON.parse('{{ currentPos|tojson|safe }}')

        document.getElementById("viewer").addEventListener("load", setArmRotation(init.base, init.shoulder, init.elbow, init.wrist, init.wrist_rot))

        const sliderBase = document.getElementById("base");
        const inputBase = document.getElementById("base_input");

        sliderBase.addEventListener("input", function() {
          inputBase.value = sliderBase.value;
        });

        inputBase.addEventListener("input", function() {
          sliderBase.value = inputBase.value;
        });

        const sliderShoulder = document.getElementById("shoulder");
        const inputShoulder = document.getElementById("shoulder_input");

        sliderShoulder.addEventListener("input", function() {
          inputShoulder.value = sliderShoulder.value;
        });

        inputShoulder.addEventListener("input", function() {
          sliderShoulder.value = inputShoulder.value;
        });

        const sliderElbow = document.getElementById("elbow");
        const inputElbow = document.getElementById("elbow_input");

        sliderElbow.addEventListener("input", function() {
          inputElbow.value = sliderElbow.value;
        });

        inputElbow.addEventListener("input", function() {
          sliderElbow.value = inputElbow.value;
        });

        const sliderWrist = document.getElementById("wrist");
        const inputWrist = document.getElementById("wrist_input");


        $('#wrist').on("input", "change", function(){
          $('#wrist_input').value = $('#wrist').val();
        });

        $('#wrist_input').on("input", "change", function() {
          $('#wrist').value = $('#wrist_input').val();
        });

        const sliderWristrot= document.getElementById("wrist_rot");
        const inputWristrot = document.getElementById("wrist_rot_input");

        sliderWristrot.addEventListener("input", function() {
          inputWristrot.value = sliderWristrot.value;
        });

        inputWristrot.addEventListener("input", function() {
          sliderWristrot.value = inputWristrot.value;
        });


        const sliderGripper = document.getElementById("gripper");
        const inputGripper = document.getElementById("gripper_input");

        sliderGripper.addEventListener("input", function() {
          inputGripper.value = sliderGripper.value;
        });

        inputGripper.addEventListener("input", function() {
          sliderGripper.value = inputGripper.value;
        });

        
        const sliderSpeed = document.getElementById("speed");
        const inputSpeed = document.getElementById("speed_input");

        sliderSpeed.addEventListener("input", function() {
          inputSpeed.value = sliderSpeed.value/4;
        });



        


        var data = JSON.parse('{{ data|tojson|safe }}');
        var tabInfo = JSON.parse('{{ tabInfo|tojson|safe }}');
        
        function hoverRecord(event) {
          const row = event.target.closest('.row');
          const listItem = row.querySelector('.list-group-item');
          const currentHoverRecord = row.parentElement.querySelector('.row .list-group-item.hover-overlay');
          if (currentHoverRecord)
            currentHoverRecord.classList.remove('hover-overlay');
          listItem.classList.add('hover-overlay');
        }

        function removeHoverRecord(event) {
          const row = event.target.closest('.row');
          const listItem = row.querySelector('.list-group-item');
          listItem.classList.remove('hover-overlay');
        }

        function selectRecord(event){
          const row = event.target.closest('.row');
          const listItem = row.querySelector('.list-group-item');
          const currentActiveRecord = row.parentElement.querySelector('.row .list-group-item.active');
          if (currentActiveRecord){
            if(currentActiveRecord === listItem){
              listItem.classList.remove('active');
              document.getElementById('deleteSelectedPosition').classList.add('disabled');
              return;
            }
            currentActiveRecord.classList.remove('active');
            
          }
          listItem.classList.add('active');
          document.getElementById('deleteSelectedPosition').classList.remove('disabled');

        }
        function help(){
            const record = document.getElementsByClassName('list-group-item active')
            console.log(record)
            if(record[0] != undefined)
              record[0].classList.remove('active')
              document.getElementById('deleteSelectedPosition').classList.add('disabled');
        }

        function createExistingTabs(tabId, positions, name){
          const tabList = document.getElementById('tabList');
          const tabContent = document.getElementById('tabContent');
          // Create tab header
          const header = document.createElement('li');
          const headerLink = document.createElement('a');
          headerLink.href = `tab${tabId}`;
          headerLink.addEventListener('click', help);
          headerLink.setAttribute('data-toggle', 'tab');
          headerLink.setAttribute('data-target', `#tab${tabId}`); // Add the data-target attribute
          headerLink.textContent = `${name}`;
          header.appendChild(headerLink);
          tabList.appendChild(header);

                    // Create tab content
          const tab = document.createElement('div');
          tab.classList.add('tab-pane');
          tab.id = `tab${tabId}`;
          const list = document.createElement('ul');
          list.classList.add('list-group');
          positions.forEach(position => {
              const row = document.createElement('div');
              row.classList.add('row');

              const colItem = document.createElement('div');
              colItem.classList.add('col-md-10');
              const colInput = document.createElement('div');
              colInput.classList.add('col-md-2');

              const listItem = document.createElement('li');
              listItem.classList.add('list-group-item');

              const inputField = document.createElement('input');
              inputField.classList.add('form-control');
              inputField.id = `${position.position_id}IF`;
              inputField.type = 'number';
              inputField.value = 2000;
              
              
              listItem.textContent = `Base: ${position.base}° Shoulder: ${position.shoulder + 24}° Elbow: ${position.elbow + 121}° Wrist: ${position.wrist +115}° Wrist rotation: ${position.wrist_rot}° Gripper: ${position.gripper}°\n`;
              listItem.id = `${position.position_id}`;
              //listItem.addEventListener('mouseover', hoverRecord);
              //listItem.addEventListener('click', selectRecord);
              row.addEventListener('click', selectRecord)
              row.addEventListener('mouseover', hoverRecord);
              row.addEventListener('mouseleave', removeHoverRecord);

              colItem.appendChild(listItem);
              colInput.appendChild(inputField);
              row.appendChild(colItem);
              row.appendChild(colInput);
              //listItem.appendChild(inputField);
              list.appendChild(row);
          });
          tab.appendChild(list);
          tabContent.appendChild(tab);

          // Activate the first tab by default
          if (tabList.childElementCount === 1) {
              header.classList.add('active');
              tab.classList.add('active');
          }

        }

        function showPopUp(){
          document.getElementById('nameInput').value = "";
          $('#nameModal').modal('show');
        }

        function createTab(tabUUID) {
          const name = $('#nameInput').val();
          $('#nameModal').modal('hide');
          const tabList = document.getElementById('tabList');
          const tabContent = document.getElementById('tabContent');
          
          // Create tab header
          const header = document.createElement('li');
          const headerLink = document.createElement('a');
          headerLink.href = `tab${tabUUID}`;
          headerLink.setAttribute('data-toggle', 'tab');
          headerLink.setAttribute('data-target', `#tab${tabUUID}`); // Add the data-target attribute
          headerLink.textContent = `${name}`;
          header.appendChild(headerLink);
          tabList.appendChild(header);


          const request = {
              movement_id: tabUUID,
              name: name
            };
          $.ajax({

            type: "POST",
            url: "/add_tab",
            contentType: "application/json",
            data: JSON.stringify(request),
            success: function(response) {
              appendToEventLog(`Created tab ${request.name}`)
            }
          });
          // Create tab content
          const tab = document.createElement('div');
          tab.classList.add('tab-pane');
          tab.id = `tab${tabUUID}`;
          const list = document.createElement('ul');
          list.classList.add('list-group');
          tab.appendChild(list);
          tabContent.appendChild(tab);

          // Activate the first tab by default
          if (tabList.childElementCount === 1) {
              header.classList.add('active');
              tab.classList.add('active');
          }
        }

        function addNewTab() {
          const tabUUID = uuidv4();
          data[tabUUID] = [];
          createTab(tabUUID);
        }

        function addPositionToActiveTab() {
          const activeTab = document.querySelector('.tab-pane.active');
          if (!activeTab) return;
          const activeTabId = activeTab.id.replace('tab', '');
          const positionId = uuidv4();
          const newPosition = {
            position_id: positionId,
            base: parseInt(document.getElementById("base").value),
            elbow:  parseInt(document.getElementById("elbow").value) - 121,
            gripper: parseInt(document.getElementById("gripper").value),
            shoulder: parseInt(document.getElementById("shoulder").value) - 24,
            wrist: parseInt(document.getElementById("wrist").value) - 115,
            wrist_rot: parseInt(document.getElementById("wrist_rot").value),
            movement_id: activeTabId
          };

          
          console.log(activeTabId);
          data[activeTabId].push(newPosition);
          
          const listItem = document.createElement('li');

          const row = document.createElement('div');
          row.classList.add('row');

          const colItem = document.createElement('div');
          colItem.classList.add('col-md-10');
          const colInput = document.createElement('div');
          colInput.classList.add('col-md-2');


          const inputField = document.createElement('input');
          inputField.classList.add('form-control');
          inputField.id = `${newPosition.position_id}IF`;
          inputField.type = 'number';
          inputField.value = 2000;

          listItem.classList.add('list-group-item');
          listItem.id = `${newPosition.position_id}`;
          const string = `Base: ${newPosition.base}° Shoulder: ${newPosition.shoulder + 24}° Elbow: ${newPosition.elbow + 121}° Wrist: ${newPosition.wrist +115}° Wrist rotation: ${newPosition.wrist_rot}° Gripper: ${newPosition.gripper}°`;
          listItem.textContent = string;

          row.addEventListener('click', selectRecord)
          row.addEventListener('mouseover', hoverRecord);
          row.addEventListener('mouseleave', removeHoverRecord);

          colItem.appendChild(listItem);
          colInput.appendChild(inputField);
          row.appendChild(colItem);
          row.appendChild(colInput);
          activeTab.querySelector('ul').appendChild(row);

          $.ajax({
            type: "POST",
            url: "/add_position",
            contentType: "application/json",
            data: JSON.stringify(newPosition),
            success: function(response) {
              console.log(response)
              appendToEventLog(`Added new position to the ${activeTab.name}`)
            }
          });

        }

        function deleteActiveTab() {
          const activeHeader = document.querySelector('.nav-tabs .active');
          const activeTab = document.querySelector('.tab-pane.active');
          if (!activeHeader || !activeTab) return;

          const activeTabId = activeTab.id.replace('tab', '');
          delete data[activeTabId];

          activeHeader.remove();
          activeTab.remove();
          const toRemove = activeTabId; 
          $.ajax({
            type: "POST",
            url: "/remove_tab",
            contentType: "application/json",
            data: JSON.stringify(toRemove),
            success: function(response) {
              console.log(response)
              
            }
          });

          // Activate the first remaining tab, if any
          const firstHeader = document.querySelector('.nav-tabs li');
          if (firstHeader) {
          firstHeader.querySelector('a').click();
          }
        }

        function deletePosition(){
          const itemRemove = document.querySelector('.list-group-item.active');
          const activeTab = document.querySelector('.tab-pane.active');

          const activeTabId = activeTab.id.replace('tab', '');
          for(let i = 0; data[activeTabId].length; i++){
            if(data[activeTabId][i].position_id === itemRemove.id){
              data[activeTabId].splice(i, 1)
              //delete data[activeTabId][i];
              break;
            }
          }
          document.getElementById('deleteSelectedPosition').classList.add('disabled');
          itemRemove.parentElement.parentElement.remove();
          $.ajax({
            type: "POST",
            url: "/remove_pos",
            contentType: "application/json",
            data: JSON.stringify(itemRemove.id),
            success: function(response) {
              console.log(response)
            }
          });

        }

        // Initialize tabs with the provided data
        for(var key in data){
            console.log(key)
            if (data.hasOwnProperty(key)){
                var value=data[key];
                createExistingTabs(key, data[key], tabInfo[key]);
            }
        } 
        import { setArmRotation } from "../static/animation.js";

        let pause = false;
        let stopped = false;
        let automate = false;

                // Add event listeners to enable/disable the buttons when needed
          document.getElementById('playSelectedTab').addEventListener('click', () => {
          document.getElementById('pauseButton').classList.remove('disabled')
          document.getElementById('stopButton').classList.remove('disabled')
          document.getElementById("continueButton").classList.add('disabled')
        });
        // Pause button event listener
        document.getElementById('pauseButton').addEventListener('click', () => {
          pause = true;
          document.getElementById('continueButton').classList.remove('disabled')
          document.getElementById('pauseButton').classList.add('disabled')
        });

        // Continue button event listener
        document.getElementById('continueButton').addEventListener('click', () => {
          pause = false;
          document.getElementById('pauseButton').classList.remove('disabled')
          document.getElementById('continueButton').classList.add('disabled')
        });

        // Stop button event listener
        document.getElementById('stopButton').addEventListener('click', () => {
          pause = false;
          stopped = true;
          document.getElementById('pauseButton').classList.add('disabled')
          document.getElementById('continueButton').classList.add('disabled')
          document.getElementById('addNewTabBtn').classList.remove('disabled');
          document.getElementById('addPositionToActiveTabBtn').classList.remove('disabled');
          document.getElementById('deleteActiveTabBtn').classList.remove('disabled');
          document.getElementById('playSelectedTab').classList.remove('disabled');
          document.getElementById('deleteSelectedPosition').classList.remove('disabled');
          document.getElementById('button-save-name').classList.remove('disabled');
          document.getElementById('stopButton').classList.add('disabled');
        });




        async function sendRequests() {
          if ($('#automate').is(':checked')) {
            automate = true;
          } else{
            automate = false;
          }
          document.getElementById('addNewTabBtn').classList.add('disabled');
          document.getElementById('addPositionToActiveTabBtn').classList.add('disabled');
          document.getElementById('deleteActiveTabBtn').classList.add('disabled');
          document.getElementById('playSelectedTab').classList.add('disabled');
          document.getElementById('deleteSelectedPosition').classList.add('disabled');
          document.getElementById('button-save-name').classList.add('disabled');
          document.getElementById('move-btn').classList.add('disabled');
          document.getElementById('submit-btn').classList.add('disabled');
          document.getElementById('display-btn').classList.add('disabled');

          const activeTab = document.querySelector('.tab-pane.active');

          if (!activeTab) return;
          const activeTabId = activeTab.id.replace('tab', '');
          for (const position of data[activeTabId]) {
            console.log(position)
            if(document.getElementById(`${position.position_id}IF`).value < 0){
              appendToEventLog("Please use non negative delays")
              return;
            }
          }

          async function pauseExecution(position_id) {
            return new Promise(resolve => {
              function checkPause() {
                if (pause) {
                  document.getElementById(`${position_id}`).classList.add("list-group-item-warning")
                  setTimeout(checkPause, 100);
                } else {
                  document.getElementById(`${position_id}`).classList.remove("list-group-item-warning")
                  resolve();
                }
              }
              checkPause();
            });
          }
          do{
            for (const position of data[activeTabId]) {
              
              let delay = document.getElementById(`${position.position_id}IF`).value
              const current = document.getElementById(`${position.position_id}`)
              current.classList.add("list-group-item-success")
              console.log(current)

              const send = {
                "base": position.base,
                "shoulder": position.shoulder,
                "elbow": position.elbow,
                "wrist": position.wrist,
                "wrist_rot": position.wrist_rot,
                "gripper": position.gripper,
                "delay": delay,
                "speed": document.getElementById("speed_input").value
                // LINE MOVEMENT TODO
              };
              const response = await fetch('/play', {
                method: 'POST',
                body: JSON.stringify(send),
                headers: {
                  'Content-Type': 'application/json'
                }
              });
              
              const data = await response.json();
                current.classList.remove("list-group-item-success")
                setArmRotation(data.base, data.shoulder, data.elbow, data.wrist, data.wrist_rot);
                document.getElementById("base").value = data.base;
                document.getElementById("shoulder").value = (data.shoulder + 24);
                document.getElementById("elbow").value = (data.elbow + 121);
                document.getElementById("wrist").value = (data.wrist + 115);
                document.getElementById("wrist_rot").value = data.wrist_rot;
                document.getElementById("gripper").value = data.gripper;

              if (stopped) {
                break;
              }

              if (pause) {
                await pauseExecution(position.position_id);
              }
            }
            if (stopped) {
                stopped = false; // Reset stopped flag
                break;
              }
          }while(automate)
          document.getElementById('pauseButton').classList.add('disabled');
          document.getElementById('continueButton').classList.add('disabled')
          document.getElementById('addNewTabBtn').classList.remove('disabled');
          document.getElementById('addPositionToActiveTabBtn').classList.remove('disabled');
          document.getElementById('deleteActiveTabBtn').classList.remove('disabled');
          document.getElementById('playSelectedTab').classList.remove('disabled');
          document.getElementById('deleteSelectedPosition').classList.remove('disabled');
          document.getElementById('button-save-name').classList.remove('disabled');
          document.getElementById('pauseButton').classList.add('disabled');
          document.getElementById('stopButton').classList.add('disabled');
          document.getElementById('move-btn').classList.remove('disabled');
          document.getElementById('submit-btn').classList.remove('disabled');
          document.getElementById('display-btn').classList.remove('disabled');
        }

        // Add event listeners for the buttons
        document.getElementById('addNewTabBtn').addEventListener('click', showPopUp);
        document.getElementById('addPositionToActiveTabBtn').addEventListener('click', addPositionToActiveTab);
        document.getElementById('deleteActiveTabBtn').addEventListener('click', deleteActiveTab);
        document.getElementById('playSelectedTab').addEventListener('click', sendRequests);
        document.getElementById('deleteSelectedPosition').addEventListener('click', deletePosition)
        document.getElementById('button-save-name').addEventListener('click', addNewTab)
    </script>
    </body>
</html>