<!DOCTYPE html>
<html>
  <head>
    <title>Robotic Arm Control</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <h1>Robotic Arm Control</h1>
    <div class="container">
      <form method="POST" action="/move" enctype="application/json" id="move_form">
        <label for="base">Base</label>
        <input type="range" min="0" max="360" step="1" name="base" id="base">
        <br>
        <label for="shoulder">Shoulder</label>
        <input type="range" min="0" max="180" step="1" name="shoulder" id="shoulder">
        <br>
        <label for="elbow">Elbow</label>
        <input type="range" min="0" max="180" step="1" name="elbow" id="elbow">
        <br>
        <label for="wrist">Wrist</label>
        <input type="range" min="0" max="180" step="1" name="wrist" id="wrist">
        <br>
        <label for="wrist_rot">Wrist rotation</label>
        <input type="range" min="0" max="180" step="1" name="wrist_rot" id="wrist_rot">
        <br>
        <label for="gripper">Gripper</label>
        <input type="range" min="0" max="180" step="1" name="gripper" id="gripper">
        <br>
        <input type="submit" value="Move">
      </form>
    </div>

    <form>
      <label for="x">X:</label>
      <input type="number" id="x" name="x"><br><br>
  
      <label for="y">Y:</label>
      <input type="number" id="y" name="y"><br><br>
  
      <label for="z">Z:</label>
      <input type="number" id="z" name="z"><br><br>
  
      <button type="button" id="submit-btn">Send Coordinates</button>
    </form>


    <p> {{ message }}</p>



    <div id="tabContainer">
      <!-- Tabs will be dynamically added here -->
    </div>
    <button onclick="addTab()">Add Tab</button>

    <div id="viewer"></div>


    
    <script type="module" src="../static/animation.js"></script>
    <script type="module">

    </script>
    
  </body>
</html>