body {
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tab-headers {
  display: flex;
}

.tab-header {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tab-header.active {
  background-color: #ccc;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

#viewer {
    width: 40vw; height: 50vh; 
}
